@using System.Collections.Generic
@model  Dictionary<String, object>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class=" panel-heading">Данные пользоваиелей</div>
    <table class="table table-striped">
        @foreach (var key in Model.Keys)
            {
            <tr>
                <th>@key</th>
                <td>@Model[key]</td>
            </tr>
        }
    </table>
</div>



